@model MvcProduct.Models.ProductCategoryViewModel
@{
    ViewData["Title"] = "Каталог товара";
}

<h1>Каталог</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить новый товар</a>
</p>
<form asp-controller="Products" asp-action="Index" method="get">
    <p>
               <select asp-for="ProductCategory" asp-items="Model.Categories">
            <option value="">Все</option>
        </select>
        <label>Название товара: <input type="text" asp-for="SearchString" /></label>
        <label>
            Рейтинг от:
            <select asp-for="MinRating">
                <option value="">Любой</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].EnergyClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].WarrantyMonths)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnergyClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>    
                @Html.DisplayFor(modelItem => item.WarrantyMonths)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
